<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@NEKOSANN_08" />
  <meta property="og:title" content="FrontMission Second :REMAKE - Report of defects and missing for v1.0.3">
  <meta property="og:description" content="当ページは、タクティカルシミュレーションRPG「フロントミッション セカンド: リメイク」に関する不具合情報をまとめたレポートページです。最前線、ふたたび炎上す。">
  <meta property="og:image" content="http://kw-144sk.github.io/img/fm2r-rod-card.png">
  <title>FrontMission Second :REMAKE - Report of defects and missing for v1.0.3</title>
  <meta name="description" content="当ページは、タクティカルシミュレーションRPG「フロントミッション セカンド: リメイク」に関する不具合情報をまとめたレポートページです。最前線、ふたたび炎上す。">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <header>
    <img src="//kw-144sk.github.io/img/fm2r_logo.png" alt="FrontMission Second :REMAKE">
  </header>
  <main>
    <h1 class="headtitle en">Report of defects and missing</h1>
    <article class="article-base">
      <section class="introducton">
        当ページは、タクティカルシミュレーションRPG「フロントミッション セカンド: リメイク」に関する不具合情報をまとめたレポートページです。<br>
        このレポートの対象となっているゲームは、1997年にスクウェア（現スクウェア・エニックス）社より発売されたPlayStation用ゲームソフト「FRONT MISSION 2」がNintendo Switch向けにリメイクされた作品となります。<br>
        該当のゲームはポーランドのゲーム開発企業Forever Entertainment社によって2023年10月5日に発売されたもので、<br>
        スクウェア・エニックスよりリメイク権利を許諾された同社が開発・リリースしたものです。<br>
        <br>
        四半世紀程度の時間を経て現代機でプレイできる形での待望のリリースとなるはずの本リメイクでしたが、<br>
        発売直後からSNSや動画サイトなどで様々な不具合が様々なユーザーから報告されておりました。<br>
        筆者も発売直後からプレイしたところ、大小様々な不具合と思える現象がいとも簡単に発生する状態に驚愕したため<br>
        このページの作成に至った次第です。<br>
        <br>
        以下より列挙する事柄は筆者が１プレーヤーとしてプレイし、遭遇した不具合の内容を簡単にまとめたものです。<br>
        なお、他サイト・SNS等で報告されている物があっても筆者が実機にて確かめたものでない限り記載していません。
      </section>
      <section class="version-info en">
        REPORT GAME VERSION : v1.0.3 <small>investigation now.</small><br>
        CHECKED DATE : 2023/10/22
      </section>
      <section class="jump">
        <ul class="jumping"></ul>
      </section>
      <ejs-template script="report">
        <section class="reports">
          <h2 class="kinds en" id="cat_[[__anker_id__]]">[[__category__]]</h2>
          <hr type="template-slit">
          <dl class="reports">
            <hr type="template-slit">
            <dt>[[__title__]]</dt>
            <dd>[[__desc__]]</dd>
            <hr type="template-slit">
          </dl>
        </section>
      </ejs-template>

      <section>
        <h2 class="kinds" id="cation">特記事項</h2>
        <ul>
          <li>筆者は当ナンバリングは初プレイでPlayStation時代の詳細な挙動や仕様は詳しく知りません。そのためセリフの誤植・誤翻訳は見逃してる可能性があります。</li>
          <li>全ての可能性を調査するようなデバッグ的プレイはしていません、あくまでカジュアルにストーリーラインをなぞるだけのプレイです。</li>
          <li>現在V1.0.3において既存の不具合の追証・再確認と共に不具合情報を不定期で更新中です。</li>
        </ul>
      </section>
      <section>
        <h2 class="kinds" id="links">参考リンク</h2>
        <ul>
          <li><a href="https://frontmissionremake.com/front-mission-2/?sLanguage=ja" target="_blank">FRONT MISSION 2: Remake（Forever Entertainment）</a></li>
          <li><a href="https://w.atwiki.jp/frontmission2/" target="_blank">FRONT MISSION 2 @wiki（オリジナル版攻略wiki）</a></li>
          <li><a href="https://www.famitsu.com/news/202211/29284187.html" target="_blank">『フロントミッション』リメイク版の発売元がスクエニではない理由。「原作の雰囲気が保たれたタイトルになると期待し、リメイク権を許諾した」(ファミ通.com)
            </a></li>
        </ul>
      </section>
    </article>
  </main>
  <footer>FrontMission Second :REMAKE - Report of defects and missing @2023</footer>
  <ejs-template script="loadedScript">
    <script type="module">
      ((__loadedScript__))
    </script>
  </ejs-template>
</body>

</html>